<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <h3>登录</h3>
    <h3 th:text="${msg}" style="color:red;"></h3>
    <form method="post" action="login">
       <div>用户名：<input type="text" name="userName" autocomplete="off"></div> 
       <div>密码：<input type="password" name="password" autocomplete="new-password"></div>
       <div>用户类型：
         <select id="loginType" name="loginType">
           <option value="User">系统管理员</option>
           <option value="Member">普通用户</option>
         </select>
       </div>
       <input type="submit" value="登录">              
    </form>
  </body>
</html>
